body{
    padding: 5px;
}
.table1 {
    text-align: left;
}
.table2{
    text-align: center;
    width: 100%;
}
.table2tr{
    padding: 10px;
    border: 1px solid black;
}
.th{
    text-align: left;
}
.table2tr:nth-last-child(even){
    background-color: #dddddd;
}